.social-footer{
    font-size: 60px!important;
    color: black;
}
.black{
    color: black;
}
.box-f{
    height: 120px;
    background-color: #00ffff;
}
.box-f2{
    height: 60px;
    background-color: #fb44ff;
}