.imagem-2{
    background-image: url(https://s10.gifyu.com/images/Dev.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:100vh;
    min-height: 100vh;
}
.text-decotator-none{
    text-decoration: none;
}
.font-w{
    font-weight: bold !important;
}
.bt-cancelar{
    margin-right: 20px !important;
}
.bt-cadastrar{
    margin-left: 50px !important;
}